html, body {
    margin: 0;
    padding: 0;
    background: #efffca;
    color: #000000;
    font-family: "Helvetica Neue";
}

.flex-container {
    flex-wrap: nowrap;
    background-color: rgb(93, 169, 255);
}

.has-text-centered {
    text-align: center;
    text-emphasis-color: blue;
    margin: 20px;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
}